@import "src/theme/fonts/font.scss";

* {
  box-sizing: border-box;
  cursor: url(./utils/assets/cursor.svg) 20 20, auto !important;

  a,
  button, svg, path {
    cursor: url(./utils/assets/pointer.svg) 5 15, pointer !important;
  }
}

html,
body,
#root {
  height: 100%;

  *::selection {
    background: var(--hp-colors-orange-200);
    transition: all 0.25s ease-in-out !important;
  }
}
